
svg
  max-width 100%

a
  text-decoration none

.cd-nav-trigger
  position fixed
  z-index 3
  top 12px
  right 5%
  height 44px
  width 44px
  overflow hidden
  text-indent 100%
  white-space nowrap
  transition transform .2s
  
  span
    position absolute
    left 50%
    top 50%
    bottom auto
    right auto
    transform translateX(-50%) translateY(-50%)
    width 32px
    height 3px
    background-color black
    
    &::before, 
    &::after
      content ''
      position absolute
      top 0
      right 0
      width 100%
      height 100%
      background-color inherit
      transform translateZ(0)
      backface-visibility hidden
      transition transform .2s, width .2s
  
    &::before
      transform-origin right top
      transform translateY(-10px)
      
    &::after
      transform-origin right bottom
      transform translateY(10px)


.no-touch
  .cd-nav-trigger
    &:hover
      transform rotate(180deg)
      
      span
        &::before
          transform translateX(1px) translateY(1px) rotate(45deg)
        &::after
          transform translateX(1px) translateY(-1px) rotate(-45deg)

.no-touch .cd-nav-trigger:hover span::after,
.no-touch .cd-nav-trigger:hover span::before
  width 50%




.cd-nav-container
  position fixed
  z-index 4
  top 0
  right 0
  width 80%
  height 100%
  overflow-y auto
  background-color #ffffff
  transform translateZ(0)
  backface-visibility hidden
  transform translateX(100%)
  transition transform 0.4s 0s, box-shadow 0s 0.4s

  &.is-visible
    transform translateX(0)
    box-shadow -4px 0 30px rgba(0, 0, 0, 0.2)
    transition transform 0.4s 0s, box-shadow 0s 0s

  header
    padding 1.5em 0 0 6.25%
    height 68px
    position relative

  h3
    font-size 1.6rem
    font-weight bold
    font-family "Lora", serif
    text-transform uppercase
    color #5c4b51





.cd-close-nav
  position absolute
  height 44px
  width 44px
  right 6.25%
  top 50%
  bottom auto
  transform translateY(-50%)
  overflow hidden
  text-indent 100%
  white-space nowrap
  transition opacity 0.2s

  &::after
    transform translateX(-50%) translateY(-50%) rotate(45deg)
  &::before
    transform translateX(-50%) translateY(-50%) rotate(-45deg)

.cd-close-nav::after, .cd-close-nav::before
  content ''
  position absolute
  height 3px
  width 32px
  left 50%
  top 50%
  background-color #5c4b51
  backface-visibility hidden

.no-touch
  .cd-close-nav
    &:hover
      opacity .8





.cd-nav
  background-color #f2f2f2
  list-style none
  margin 0
  padding 0

  &::after
    clear both
    content ""
    display table

  li
    width 50%
    float left
    height calc((100vh - 68px)/3)
    min-height 120px
    border 1px solid #ffffff
    border-top none
    border-left none
    &:nth-of-type(2n)
      border-right-width 0
  a
    position relative
    display block
    width 100%
    height 100%
    text-align center
    transition background-color .2s

  span
    top calc(50% - 48px)
    left 50%
    transform translateX(-50%)
    height 48px
    width 48px
    *
      transition stroke 0.2s
  em
    width 100%
    left 0
    top calc(50% + 15px)
    color #5c4b51
    transition color 0.2s
    backface-visibility hidden

.no-touch
  .cd-nav
    a
      &:hover
        svg
          animation cd-shock 0.3s

.no-touch .cd-nav li a:hover span *,
.cd-nav li.cd-selected a span *
  stroke #ffffff

.no-touch .cd-nav li a:hover em,
.cd-nav li.cd-selected a em
  color #ffffff

.no-touch .cd-nav li:first-of-type a:hover,
.cd-nav li.cd-selected:first-of-type a
  background-color #9e87ce

.no-touch .cd-nav li:nth-of-type(2) a:hover,
.cd-nav li.cd-selected:nth-of-type(2) a
  background-color #5c4b51

.no-touch .cd-nav li:nth-of-type(3) a:hover,
.cd-nav li.cd-selected:nth-of-type(3) a
  background-color #e0cf75

.no-touch .cd-nav li:nth-of-type(4) a:hover,
.cd-nav li.cd-selected:nth-of-type(4) a
  background-color #f5b65a

.no-touch .cd-nav li:nth-of-type(5) a:hover,
.cd-nav li.cd-selected:nth-of-type(5) a
  background-color #f25f5c

.no-touch .cd-nav li:nth-of-type(6) a:hover,
.cd-nav li.cd-selected:nth-of-type(6) a
  background-color #8abeb2

.cd-nav span, .cd-nav em
  position absolute







.cd-overlay
  position fixed
  height 100%
  width 100%
  top 0
  left 0
  cursor pointer
  background-color rgba(0, 0, 0, 0.35)
  visibility hidden
  opacity 0
  backface-visibility hidden
  transition opacity 0.4s 0s, visibility 0s 0.4s
  &.is-visible
    opacity 1
    visibility visible
    transition opacity 0.4s 0s, visibility 0s 0s
    



@keyframes cd-shock {
  0% {
    transform rotate(0)
  }
  30% {
    transform rotate(10deg)
  }
  60% {
    transform rotate(-10deg)
  }
  100% {
    transform rotate(0)
  }
}

@media only screen and (min-width: 700px)
  .cd-nav-container 
    width 70%

  .cd-nav-container header 
    height 116px
    padding-top 3em

  .cd-close-nav 
    right 7.14%
    

  .cd-nav li 
    /* 116px is the navigation header height and the menu items will be allocated in 3 rows */
    height calc((100vh - 116px)/3)
    min-height 200px
  
  .cd-nav span 
    height 64px
    width 64px
    top calc(50% - 56px)
  
  .cd-nav em 
    font-size 2.2rem
    font-weight 300
    top calc(50% + 21px)



@media only screen and (min-width: 1024px)
  .cd-nav-trigger
    top 38px
    
  .cd-nav li 
    width 33.33%
    float left
    /* 116px is the navigation header height  and the menu items will be allocated in 2 rows */
    height calc((100vh - 116px)/2)
    min-height 250px
  
  .cd-nav li:nth-of-type(2n) 
    border-right-width 1px
  
  .cd-nav li:nth-of-type(3n) 
    border-right-width 0
  
  .cd-nav em 
    font-size 2.5rem
  


