!!!
%html.no-js{:lang => ""}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Gulp Starter
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
    / Place favicon.ico in the root directory
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %script{:src => "js/modernizr-2.8.3.min.js"}
  %body#skrollr-body
    /[if lt IE 8]
      %p.browserupgrade 
        You are using an 
        %strong outdated
        browser. Please 
        %a{ :href => "http://browsehappy.com/"} upgrade your browser
        to improve your experience
    / Add your site or application content here


    %main
      main
    %script{:src => "//maps.googleapis.com/maps/api/js"}
    %script{:src => "js/main.js"}    